<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss('Cross click')"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div ngbAccordion [closeOthers]="true">
      @for (item of items; track item) {
      <div ngbAccordionItem [collapsed]="item !== 'First'">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{ item }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <ul>
                <li>
                  <a
                    routerLink="/product/list"
                    routerLinkActive="active"
                    (click)="offcanvas.dismiss('Cross click')"
                    >list</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/product/create"
                    routerLinkActive="active"
                    (click)="offcanvas.dismiss('Cross click')"
                    >Create</a
                  >
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>
