.truncate-1-lines {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h6 {
  color: #0d6efd;
}

.card-footer {
  background-color: transparent !important;
  padding-inline: 0 !important;
}
