<div class="products">
  <div class="head d-flex justify-content-between align-items-center mb-4">
    <h3>Products List</h3>
    <button class="btn btn-outline-primary" routerLink="/product/create">
      Add Product
    </button>
  </div>
  <div class="row">
    @for (product of products; track product.id; let i = $index) {
    <div
      data-aos="fade-up"
      class="col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4"
      [attr.data-aos-delay]="getAnimationDelay(i)"
    >
      <app-product [product]="product"></app-product>
    </div>
    }
  </div>
</div>
